apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: chat-app
spec:
  selector:
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-metrics
  namespace: chat-app
  labels:
    app: mongodb
spec:
  selector:
    app: mongodb
  ports:
    - name: metrics
      protocol: TCP
      port: 9216
      targetPort: 9216
  type: ClusterIP

