apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:latest
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              value: root
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: admin
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
        - name: mongo-exporter
          image: percona/mongodb_exporter:0.40
          ports:
            - containerPort: 9216
          env:
            - name: MONGODB_URI
              value: "mongodb://root:admin@localhost:27017/admin"
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-pvc
